<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletTra</servlet-name>
    <servlet-class>org.lmars.network.servlet.ServletTra</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletJG</servlet-name>
    <servlet-class>org.lmars.network.servlet.ServletJG</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>ServletTra</servlet-name>
    <url-pattern>/servlet/ServletTra</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletJG</servlet-name>
    <url-pattern>/servlet/ServletJG</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <display-name>BlazeDS</display-name>
    <description>BlazeDS Application</description>
    <context-param>
   		<param-name>log4jConfigLocation</param-name>
    	<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<context-param>
    	<param-name>org.lmars.network.entity.MyServletContextListener</param-name>
        <param-value>/WEB-INF/applicationContext-*.xml,classpath*:applicationContext-*.xml</param-value>
	</context-param>

    <!-- Http Flex Session attribute and binding listener support -->
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>
    
    <listener>
      <listener-class>org.lmars.network.entity.MyServletContextListener</listener-class>
    </listener>
   
	<!--servlet>  
    	<servlet-name>MyServlet</servlet-name>
    	<display-name>MyServlet</display-name>
   		<servlet-class>mapMatchingGPS.MyServlet</servlet-class>  
   		<load-on-startup>1</load-on-startup>
  	</servlet-->
	
    
    <mime-mapping>
 		<extension>inc</extension>
 		<mime-type>text/plain</mime-type>
	</mime-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>




</web-app>